/* minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

* {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

body {
  background-color: #323161;
  margin: 7rem;
  display: flex;
  justify-content: center;
}

#root {
  background-color: #F8F7FB;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 3rem 7rem;
  border-radius: .5rem;
  min-width: 40vw
}

input {
  font-size: 1.5rem;
  padding: .2rem 0;
  border: none;
  background-color: #F8F7FB;
  border-bottom: solid .2rem #594B94;
  color: #594B94;
  font-weight: 500;
}

input::placeholder {
  color: #594B94;
  font-weight: 300;
}

input:focus {
  outline: none;
  border-bottom: solid .2rem #F04329;
}

input:focus::placeholder {
  color: transparent;
}

label {
  position: absolute;
  color: #F04329;
  font-size: 1.3rem;
  margin-top: -1.4rem;
  font-weight: 700;
}