.tableContainer {
    width: 100rem;
}

.MuiInput-underline:before {
    border-bottom: solid .2rem #594B94 !important;
}
  
.MuiInput-underline:after{
  border-bottom: solid .2rem #F04329 !important;
}
  
.MuiSvgIcon-root {
  font-size: 2.5rem !important;
  color: #594B94 !important;
}
  
.MuiButtonBase-root:hover {
  background-color: rgba(240, 67, 41, .3) !important;
}
  
.Mui-selected {
  background-color: rgba(240, 67, 41, .3) !important;
}
  
.MuiMenu-paper {
  border-radius: 0 !important;
}

.MuiList-padding {
  padding: 0 !important;
}